:root {
  --toast-bg-color: #ffffff;
  --toast-font-color: #1f1f1f;
  --toast-error-1: #A1414C;
  --toast-error-2: #A1414C;
  --toast-success-1: #317553;
  --toast-success-2: #317553;
  --toast-warning-1: #fadb14;
  --toast-warning-2: #fadb14;
  --toast-info-1: #2478bd;
  --toast-info-2: #2478bd;
  --toast-loading-1: #22a2c3;
  --toast-loading-2: #22a2c3;
}

#toast-root {
  position: fixed;
  gap: 1.5rem;
  top: 0.5rem;
  right: 0;
  left: 0;
  margin: 0 auto;
  z-index: 999;
}

#toast-root .toast-container {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

#toast-root .toast {
  width: max-content;
  max-width: 100%;
  height: auto;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  background-color: var(--toast-bg-color);
  color: var(--toast-font-color);
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 500;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  transition: all 0.2s linear;
  -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  overflow: hidden;
}

@keyframes slide-top {
  0% {
    transform: translateY(3rem);
  }

  100% {
    transform: translateY(0);
  }
}

@-webkit-keyframes slide-top {
  0% {
    transform: translateY(3rem);
  }

  100% {
    transform: translateY(0);
  }
}

@-moz-keyframes slide-top {
  0% {
    transform: translateY(3rem);
  }

  100% {
    transform: translateY(0);
  }
}

@-o-keyframes slide-top {
  0% {
    transform: translateY(3rem);
  }

  100% {
    transform: translateY(0);
  }
}

.toast.success {
  border-left: 0.25rem solid var(--toast-success-1);
}

.toast.info {
  border-left: 0.25rem solid var(--toast-info-1);
}

.toast.loading {
  border-left: 0.25rem solid var(--toast-loading-1);
}

.toast.warning {
  border-left: 0.25rem solid var(--toast-warning-1);
}

.toast.error {
  border-left: 0.25rem solid var(--toast-error-1);
}

.toast::before {
  content: '';
  height: 0.25rem;
  position: absolute;
  bottom: 0;
  left: 0;
  animation: toastProgress var(--duration) linear forwards;
  animation-play-state: var(--animation-play-state);
}

.toast.success::before {
  background: linear-gradient(to right, var(--toast-success-1) 0%, var(--toast-success-2) 100%);
}

.toast.info::before {
  background: linear-gradient(to right, var(--toast-info-1) 0%, var(--toast-info-2) 100%);
}

.toast.loading::before {
  background: linear-gradient(to right, var(--toast-loading-1) 0%, var(--toast-loading-2) 100%);
}

.toast.warning::before {
  background: linear-gradient(to right, var(--toast-warning-1) 0%, var(--toast-warning-2) 100%);
}

.toast.error::before {
  background: linear-gradient(to right, var(--toast-error-1) 0%, var(--toast-error-2) 100%);
}

@keyframes toastProgress {
  0% {
    width: 100%;
  }

  100% {
    width: 0;
  }
}

@-webkit-keyframes toastProgress {
  0% {
    width: 100%;
  }

  100% {
    width: 0;
  }
}

@-moz-keyframes toastProgress {
  0% {
    width: 100%;
  }

  100% {
    width: 0;
  }
}

@-o-keyframes toastProgress {
  0% {
    width: 100%;
  }

  100% {
    width: 0;
  }
}

.toast i,
.toast svg {
  scale: 1.25;
  transform-origin: left center;
}

.toast.success i,
.toast.success svg {
  color: var(--toast-success-1);
}

.toast.info i,
.toast.info svg {
  color: var(--toast-info-1);
}

.toast.loading i,
.toast.loading svg {
  color: var(--toast-loading-1);
  animation: spinRotate 0.5s linear infinite;
}

@keyframes spinRotate {
  0% {
    rotate: 0deg;
  }

  100% {
    rotate: 360deg;
  }
}

@-webkit-keyframes spinRotate {
  0% {
    rotate: 0deg;
  }

  100% {
    rotate: 360deg;
  }
}

@-moz-keyframes spinRotate {
  0% {
    rotate: 0deg;
  }

  100% {
    rotate: 360deg;
  }
}

@-o-keyframes spinRotate {
  0% {
    rotate: 0deg;
  }

  100% {
    rotate: 360deg;
  }
}

.toast.warning i,
.toast.warning svg {
  color: var(--toast-warning-1);
}

.toast.error i,
.toast.error svg {
  color: var(--toast-error-1);
}

.toast .content {
  width: 100%;
  height: auto;
}

.toast.show {
  animation: topIn 200ms ease-in-out forwards;
}

.toast.hide {
  animation: topOut 200ms ease-in-out forwards;
}

@keyframes topIn {
  0% {
    transform: translateY(3rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes topIn {
  0% {
    transform: translateY(3rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@-moz-keyframes topIn {
  0% {
    transform: translateY(3rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@-o-keyframes topIn {
  0% {
    transform: translateY(3rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes topOut {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(-3rem);
    opacity: 0;
  }
}

@-webkit-keyframes topOut {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(-3rem);
    opacity: 0;
  }
}

@-moz-keyframes topOut {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(-3rem);
    opacity: 0;
  }
}

@-o-keyframes topOut {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(-3rem);
    opacity: 0;
  }
}

/* Mobile */
@media (max-width: 480px) {
  #toast-root {
    max-width: calc(100% - (1.5rem * 2));
  }

  .toast-container,
  .toast {
    max-width: 100%;
  }
}

/* Tablet */
@media (min-width: 481px) and (max-width: 760px) {
  #toast-root {
    max-width: calc(100% - (1.5rem * 2));
  }

  .toast-container,
  .toast {
    max-width: 100%;
  }
}

/* Large tablet */
@media (min-width: 761px) and (max-width: 1440px) {
  #toast-root,
  .toast-container,
  .toast {
    max-width: 450px;
  }
}

/* Desktop */
@media (min-width: 1441px) {
  #toast-root,
  .toast-container,
  .toast {
    max-width: 500px;
  }
}
